/*Списки*/

ul {
  list-style-type: disc;
  margin-left:0px;
}

ol {
  margin-left: 0px;
}


/* Заголовки и разделы */
h1 {
  border-top:2px solid #440909;
  padding-bottom: 5px;
}
h2 {
  border-bottom: 2px solid #c5a9a9;
  padding-bottom: 5px;
}

section {
  margin-bottom: 100px;
}



/* Таблица*/
.table-bg {
  background-image: url("https://alltowall.ru/upload/shop_5/6/1/8/item_6188/s203.jpg");
  background-size: cover;
  background-position: center;
  color: #1c113a;
}

th,
td {
  border: 1px solid #0206fd;
  padding: 8px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

th {
  background-color: #7ec8fa;
}

/* Формы */
form {
  background-color: #dcf8ff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

form label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="button"],
input[type="submit"] {
  width: auto;
  cursor: pointer;
  background-color: #333;
  color: rgb(189, 160, 160);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #555;
}